<!DOCTYPE html>
<html lang="zh-tw"><!--
  	 
  	88888888888 d8b                        888 d8b                888888   d8888b  
  	    888     Y8P                        888 Y8P                   88b d88P  Y88b 
  	    888                                888                       888 Y88b
  	    888     888 88888b d88b     d88b   888 888 88888b     d88b   888   Y888b
  	    888     888 888  888  88b d8P  Y8b 888 888 888  88b d8P  Y8b 888      Y88b
  	    888     888 888  888  888 88888888 888 888 888  888 88888888 888        888 
  	    888     888 888  888  888 Y8b      888 888 888  888 Y8b      88P Y88b  d88P 
  	    888     888 888  888  888   Y8888  888 888 888  888   Y8888  888   Y8888P
  	                                                                d88P            
  	                                                              d88P             
  	                                                            888P              
  	 -->
  <head>
    <title><%= header_title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%= meta_desc %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="/css/other.css" media="all" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/compiled/js/storyjs-embed.js"></script>
  </head>
</html>
<body class="event">
  <div id="header">
    <div id="navbar">
      <ul>
        <% if(is_front === 0){ %>
        <li class="first">&laquo;<a href="/">回到總表</a></li>
        <% } %>
        <li class="last"><a href="http://g0v.tw/" target="_blank">g0v.tw</a></li>
      </ul>
    </div>
    <h1 class="page-title"><%= page_title %></h1>
    <% if(mission.length > 0){ %>
      <p class="mission"><%= mission %></p>
    <% } %>
  </div>
  <!-- BEGIN Timeline Embed -->
  <script type="text/javascript">
  $(document).ready(function(){
    createStoryJS({
      embed_id: 'timeline-embed',
      width: "100%",
      height: "75%",
      source: '<%= timeline.source %>',
      hash_bookmark: true,
      start_zoom_adjust: <%= timeline.start_zoom_adjust %>,
      start_at_end: <%= timeline.start_at_end %>,
      font: 'Merriweather-NewsCycle',
      lang: 'zh-tw',
      css: '/compiled/css/timeline.css'
    });
    <% if(is_front === 0){ %>
    $('.page-title').append('<sup><a href="'+document.URL.replace(window.location.host, 'zh.wikipedia.org')+'">read at Wikipedia</a></sup>');
    <% } %>
    $('a').live('click', function(){
      var url = this.href.toLowerCase();
      var pattern = /^(([^\/:]+?\.)*)([^\.:]{4,})((\.[a-z]{1,4})*)(:[0-9]{1,5})?$/;
      var host = window.location.host.replace(pattern, '$3$4');
      var subdomain = window.location.host.replace(pattern, '$1');
      var subdomains = "([^/]*\\.)?";
      var internal_link = new RegExp("^https?://" + subdomains + host, "i");
      if (url.indexOf('http') == 0 && !url.match(internal_link)) {
        $(this).attr('target', '_blank');
      }
    });
  });
  </script>
  <div id="timeline-embed"></div>
  <!-- END Timeline Embed -->

  <!-- footer -->
  <div id="footer" align="center">
    <div>本站內容來源為Wikipedia，其文字在<a href="http://zh.wikipedia.org/zh-tw/Wikipedia%3ACC-BY-SA-3.0%E5%8D%8F%E8%AE%AE%E6%96%87%E6%9C%AC">創用CC 姓名標示-相同方式分享 3.0 協議</a>之條款下授權使用</div>
    <div><%= mtime %></div>
  </div>
  <!-- END footer -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41326468-1', 'g0v.tw');
  ga('send', 'pageview');

</script>
</body>
