<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=<%= fb_appid %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<a class="fork-github" href="https://github.com/g0v/twangry" target="_blank"><img style="width:110px; position: fixed; top: 45px; right: -10px; border: 0; z-index:999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-default navbar-fixed-top" id="header">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="/"><img src="<%= logo %>" id="logo"></a></div>
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#filter">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="filter" class="navbar-collapse collapse">
        <% if(template === 'timeline') { %>
          <ul class="nav navbar-nav">
            <li><a class="page-title"><%= page_title %></a></li>
          </ul>
        <% } %>
        <% if(template === 'index') { %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="years">年份<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="years">
                <li ng-click="YearFilter(year)" ng-repeat="year in years">{{year}}</li>
              </ul>
            </li>
            <% nav.forEach(function(n){ %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="tags"><%= Object.keys(n) %><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="tags">
                <% n[Object.keys(n)].forEach(function(nn){ %>
                <li ng-click="TagFilter('<%= nn %>')"><%= nn %></li>
                <% }) %>
              </ul>
            </li>
            <% }) %>
          </ul>
          <form class="navbar-form navbar-left" ng-submit="QueryFilter(filter)">
            <input class="form-control col-lg-8" on-keyup="QueryFilter(filter)" ng-model="filter" placeholder="打字篩選事件"> 
          </form>
        <% } %>
          <ul class="nav navbar-nav navbar-right">
            <% if(template === 'timeline') { %>
              <li><a class="colorbox-inline" href="#" rel="embed" target="_blank" title="嵌入碼"><span class="icon-code"></span> 嵌入碼</a></li>
            <% } %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-thumbs-up-alt"></span></a>
              <ul class="dropdown-menu">
                <% if(template === 'timeline') { %>
                <li><a href="<%= url %>.json" rel="json" target="_blank" title="json"><span class="icon-wrench"></span> JSON</a></li>
                <% } %>
                <% if(template === 'index') { %>
                <li><a href="<%= url %>index.json" rel="json" target="_blank"><span class="icon-wrench"></span> JSON</a></li>
                <% } %>
                <li><a class="icon-facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%= url %>&p[images][0]=<%= ogimage %>&p[summary]=<%= ogdescription %>" target="_blank"> Facebook</a></li>
                <li><a class="icon-twitter" href="http://twitter.com/home?status=<%= page_title %> <%= url %>" target="_blank"> Twitter</a></li>
                <li><a class="icon-google-plus" href="https://plus.google.com/share?url=<%= url %>" target="_blank"> Google Plus</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-question-sign"></span></a>
              <ul class="dropdown-menu">
                <li><a class="colorbox icon-star-empty" href="/gdsmw.html?doc=/README_INTRO.txt" target="_blank"> 關於<%= sitename %></a></li>
                <li><a class="colorbox icon-plus" href="/gdsmw.html?doc=/README_ADD.txt" target="_blank"> 增加內容</a></li>
				<li><a class="colorbox icon-warning-sign" href="/gdsmw.html?doc=/README_ERROR.txt" target="_blank"> 錯誤回報</a></li>
				<li><a class="icon-hand-up" href="http://g0v.tw/" target="_blank"> 關於g0v.tw</a></li>
              </ul>
            </li>
            <li class="facebook-like"><div class="fb-like" data-href="http://fact.g0v.tw" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div></li>
          </ul>
        </div>
      </div>
    </div>
  <% if(template === 'timeline') { %>
    <div class="hidden-element" style="display:none;">
      <div id="embed">
        <h2>拷貝下方輸入框文字嵌入自己的Blog</h2>
        <input onclick="this.select()" title="複製此嵌入碼外嵌至自己的Blog" readonly="readonly" type="text" id="embed-code" value="&lt;iframe width=&quot;600&quot; height=&quot;600&quot; frameborder=&quot;0&quot; src=&quot;<%= url %>&quot; scrolling=&quot;no&quot; allowfullscreen&gt;&lt;/iframe&gt;" size="60" maxlength="256" class="form-text"><br />
      </div>
    </div>
  <% } %>
